body {
    margin: 0;
    padding: 0;
    background-color: rgb(239, 252, 247);
}

.fexible-container {
    display: flex;
    justify-content: space-around;
}

.half-width {
    width: 40%;
}

#border-left {
    border-left: 5px solid rgb(236, 79, 79);
    padding-left: 10px;
}
#text-side {
    margin: 70px 0;
}

.big-header {
    font-size: 45px;
    font-weight: bold;
}

.margin-less {
    margin: 0;
}

.color-header {
    color: orange;
}

.btn {
    background-color: rgb(236, 79, 79);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    color: white;
    font-weight: 550;
    font-size: 20px;
}

.btn:hover {
    font-size: 20.5px;
    transition: 0.7s;
}

#image-side {
    width: 350px;
    height: 420px;
}

.text-center {
    text-align: center;
}

p {
    font-size: 20px;
    font-weight: 520;
    text-align: justify;
    color: rgb(58, 51, 41);
}

.box {
    width: 400px;
    height: 450px;
    border-radius: 25px;
    padding: 0 15px;
}
.box img {
    width: 150px;
}

.box h1 {
    font-size: 40px;
}

#misson {
    background-color: rgb(222, 247, 237);
}
#visson {
    background-color: rgb(238, 245, 216);
}
#goals {
    background-color: rgb(227, 235, 252);
}

.section-three {
    margin: 100px 0;
    background-image: url(./images/shapes/shape-1.png);
    background-position: left;
    padding-left: 30px;
}

.section-three img {
    width: 400px;
    margin-left: -20px;
}

.backgroud-image {
    background-repeat: no-repeat;
    background-size: 250px;
}
.section-four {
    margin: 50px 0;
    height: 500px;
    background-image: url(./images/shapes/shape-1.png);
    background-size: 200px;
    background-position: 97% 93%;
}
.section-four img {
    width: 400px;
    margin-left: 300px;
}
.contact-section {
    height: 450px;
    background-color: rgb(235, 247, 241);
}
.contact-section .half-width {
    margin-top: 25px;
}

.input-area {
    width: 400px;
    padding: 15px 0;
    margin: 10px 0;
}

label {
    font-size: 20px;
}
.contact-section .btn {
    margin: 10px 0 0 100px;
}

footer {
    padding: 10px;
    text-align: center;
    color: aliceblue;
    background-color: black;
}
footer p {
    color: aliceblue;
}
